.titre {
    color: #878787;
    font-family: League Gothic;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.base-text {
    color: #878787;
    text-align: center;
    font-family: League Gothic;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

#container-intro {
    width: 100%;

    text-align: center;
}

#container-intro #img {
    height: 90%;
    width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

#container-intro .base-text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    background-color: #151515;
}

#play_img {
    width: 144px;
    height: auto;
}

#mute_img {
    width: 144px;
    height: auto;
}

#song_img {
    width: 144px;
    height: auto;
}

/*NAV*/
nav {
    width: 100%;
    height: 16rem;


}

nav #play:hover {
    transition: background-color 0.2s;
    background-color: #929292;
}

nav #play {
    height: 9rem;
    width: 9rem;
    background-color: #D9D9D9;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

nav #mute:hover {
    transition: background-color 0.2s;
    background-color: #929292;
}

nav #mute {
    height: 9rem;
    width: 9rem;
    background-color: #D9D9D9;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

nav #circle {
    position: absolute;
    top: 0px;
    left: calc(50% - (27rem)/2);
    height: 16rem;
    width: 27rem;
    background-color: #151515;
    border-radius: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

nav h1 {
    color: #373737;
    font-family: League Gothic;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.5%;
    /* 56px */
    text-transform: uppercase;
    margin-left: 1rem;
    margin-top: auto;
    width: 9rem;
    margin-bottom: auto;
}

#navimg {
    margin-top: auto;
    margin-bottom: auto;
    height: 6rem;
    position: relative;
    left: calc(100% - 130px - 9rem);
}

#container-nav {
    margin-top: 72px;
    margin-bottom: auto;
    display: flex;
    background-color: #D9D9D9;
    width: 100%;
    height: 7rem;
}

nav ul {

    text-align: center;
}

nav ul li {
    margin-top: 2rem;
    position: relative;
    z-index: 2;
    color: #878787;
    padding-right: 4rem;
    font-family: League Gothic;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: inline-block;
}

/* SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(97, 97, 97, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #B9B9B9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

/* FIN SCROLLBAR*/
.none {
    display: none;
}