/* || nav*/



#logo {
    width: 230px;
    height: 80px;
}

nav {
    width: 100%;
}

nav ul> :first-child {
    color: #F4D03F !important;
}

nav ul> :first-child a:hover {
    color: #F4D03F;
}

nav ul> :nth-child(2) {
    color: red !important;
}

nav ul> :nth-child(2) a:hover {
    color: red !important;
}

nav ul> :nth-child(3) {
    color: rgb(242, 255, 0) !important;
}

nav ul> :nth-child(3) a:hover {
    color: rgb(242, 255, 0) !important;
}

nav ul> :nth-child(4) {
    color: rgb(0, 255, 34) !important;
}

nav ul> :nth-child(4) a:hover {
    color: rgb(0, 255, 34) !important;
}

nav ul> :nth-child(5) {
    color: rgb(0, 255, 221) !important;
}

nav ul> :nth-child(5) a:hover {
    color: rgb(0, 255, 221) !important;
}



nav ul li a {
    text-decoration: none;
    outline: none;
}



#deroulant {
    height: 100%;
    width: 100%;
    overflow: hidden;
}



.basicNav {
    position: absolute;
}

.basicNav .play-mute img {
    position: relative;
    height: auto;
}

.basicNav #play img {
    width: 2rem;
    top: 38%;
}

.basicNav #mute img {
    width: 3rem;
    top: 25%;
}

.basicNav .play-mute:hover {
    transition: background-color 0.2s;
    background-color: #929292;
}

.basicNav .play-mute {
    height: 6rem;
    width: 6rem;
    background-color: #D9D9D9;
    border-radius: 100%;
}

.basicNav .play-mute {
    margin-top: auto;
    margin-bottom: auto;
}


.basicNav #circle {
    position: absolute;
    top: 0px;
    left: calc(50% - (20rem)/2);
    height: 13.5rem;
    width: 20rem;
    background-color: #151515;
    border-radius: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}


.basicNav #h1v2 {
    padding-top: 2rem;
    text-align: left;
    width: 180px;
    margin-left: 1rem;
    color: #373737;
    font-family: "petitre";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.5%;
    text-transform: uppercase;
}

#navimg {
    position: absolute;
    top: 79px;
    right: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 64px;
    height: 59px;
}

.basicNav #container-nav {
    margin-top: 68px;
    margin-bottom: auto;
    display: flex;
    background-color: #D9D9D9;
    width: 100%;
    height: 5rem;
}

.basicNav ul {
    text-align: center;
}

.basicNav ul li {
    font-family: 'navtxt';
    margin-top: 10px;
    position: relative;
    z-index: 2;
    padding-right: 2rem;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: normal;
    text-transform: uppercase;
    display: inline-block;
}

.basicNav #input_audio {
    background-color: #D9D9D9;
    height: 90px;
}



.basicNav #mute {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: start;

}

.basicNav #img_container {
    padding-left: 24px;

}

.basicNav #input_container {
    position: relative;
    left: -23%;
    background-color: #929292;
    border: 6px solid #151515;
    border-radius: 0 35% 35% 0;
    border-left: none;
    padding-left: 40px;
    padding-right: 24px;
    z-index: -1;

}

.basicNav #mute:hover {

    background-color: #929292;

}

/* || FIXED NAV*/


.fixedNav {
    position: fixed;
    width: 100%;
    height: 16rem;
    z-index: 999;
}

.fixedNav .play-mute:hover {
    transition: background-color 0.2s;
    background-color: #929292;
}

.fixedNav .play-mute img {
    position: relative;
    height: auto;
    filter: invert(100%);
}

.fixedNav #play img {
    width: 2rem;
    top: 38%;
}

.fixedNav #mute img {
    width: 3rem;
    top: 25%;
}

.fixedNav #logo {
    filter: invert(100%);
}

.fixedNav .play-mute:hover {
    transition: background-color 0.2s;
    background-color: #929292;
}

.fixedNav .play-mute {
    height: 5rem;
    width: 5rem;
    background-color: #000000;
}

.fixedNav #circle {
    position: absolute;
    top: 0px;
    left: calc(50% - (20rem)/2);
    height: auto;
    width: 20rem;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.fixedNav #h1v2 {
    padding-top: 2rem;
    text-align: left;
    width: 180px;
    margin-left: 1rem;
    color: #D9D9D9;
    font-family: "petitre";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.5%;
    text-transform: uppercase;
}

.fixedNav #navimg {
    position: absolute;
    top: 10px;
    right: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 64px;
    height: 59px;
    filter: invert(100%);
}

.fixedNav #container-nav {
    display: flex;
    background: #000000;
    width: 100%;
    height: 5rem;
}

.fixedNav ul {
    text-align: center;
    width: fit-content;
    float: right;
    margin-right: 1rem;
}

.fixedNav ul li {
    font-family: 'navtxt';
    margin-top: 1rem;
    text-align: right;
    position: relative;
    z-index: 2;
    color: #D9D9D9;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    list-style-type: none;
}

.fixedNav #input_audio {
    background-color: #D9D9D9;
    height: 80px;
    width: 100px;
}



.fixedNav #mute {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: start;

}

.fixedNav #img_container {
    padding-left: 24px;

}

.fixedNav #input_container {

    position: relative;
    left: -23%;
    transition: ;
    background-color: #929292;
    border-radius: 0 100% 100% 0;
    border-left: none;
    padding-left: 35px;
    padding-right: 24px;
    z-index: -1;
    height: 80px;

}

.fixedNav #mute:hover {

    background-color: #929292;

}


/* || AUDIO */

#volume {}

/* || SCROLLBAR */


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(97, 97, 97, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #B9B9B9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}



/* || UTILITIES */


.verti-center {
    margin-top: auto;
    margin-bottom: auto;
}

img {
    height: auto;
    width: 100%;
}

* {
    scroll-behavior: smooth;
}

body {

    margin: 0;
    background-color: #151515;
    text-align: center;
}

.titre {
    color: #D9D9D9;
    text-align: center;
    font-family: "titre";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.base-text {

    font-family: 'base';
    color: #D9D9D9;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.none {
    display: none;
}

.item-centerer {
    margin-left: auto;
    margin-right: auto;
}

article {
    width: 77.5%;
    margin-bottom: 7%;
}


/* || container-intro */


#container-intro {
    padding-top: 20rem;
}

#container-intro .base-text {
    width: 50%;
}


/* || container-Fonda-lieu*/


#container-fonda-lieu {
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}

#texte {
    width: 45%;
    height: auto;
}

#container-fonda-lieu #imgdiv {
    width: 37%;
    height: auto;
}


/* || container-interviews */


#container-interviews {
    overflow: hidden;
}

#container-interviews .citation {
    width: 40%;
    margin-left: 20%;
}

#container-interviews .auteur-citation {
    width: 40%;
    margin-left: 20%;
    float: right;
    margin-top: 0px;
}

#interviews {
    margin-left: 2rem;
    margin-right: 2rem;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    -webkit-transition: 1s all;
    transition: 1s all;
    gap: 15rem;
}

#right-arrow {
    position: absolute;
    right: 2rem;
    width: 100px;
    height: 100px;
}

#left-arrow {
    position: absolute;
    left: 2rem;
    width: 100px;
    height: auto;
}


.slider2 {
    height: auto;
    width: 70%;
    position: relative;
}

.slider_nav2 button {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: scale(1);
    transition-property: "scale()";
    transition-duration: 0.2s;
}

.slider_nav_button_next2 {
    right: -11rem;
}

.slider_nav2 button:hover {
    transform: scale(1.1) !important;
}

.slider_nav2 button:active {
    transform: scale(1) !important;
}

.slider_nav_button_previous2 {
    left: -11rem;
}

.slider_content2 {

    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider_content_item2 {
    height: 100%;
    min-width: 100%;
    margin-right: 35px;
}

/* || container-Collec */


#container-collec .base-text {
    width: 70%;

}


/* || Footer*/
footer .base-text {
    text-align: center;
}


/* || container-inte */
#container-inte .base-text {
    width: 60%;
}

#container-inte img {
    margin-bottom: 3rem;

}


/* || LOADER*/


#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loader video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* || MEDIA QUERIES */


@media (max-width:1439px) {
    nav ul li a {
        font-size: 20px;
    }

    .fixedNav #h1v2 {
        position: absolute;
        float: right;
        margin-right: 1rem;
        font-size: 15px;
        width: 129px;
        padding-top: 1rem;
    }

    .basicNav #h1v2 {
        position: absolute;
        float: right;
        margin-right: 1rem;

        width: 129px;
        padding-top: 1rem;
    }

    .basicNav #circle {
        top: 28px;
        left: calc(50% - (15rem)/2);
        height: 10rem;
        width: 15rem;
    }

    .fixedNav #circle {
        left: calc(50% - (15rem)/2);
        height: 10rem;
        width: 15rem;
    }
}

@media (max-width:1023px) {
    nav ul li a {
        font-size: 15px;
        letter-spacing: 0px;
    }

    nav #h1v2 {
        right: 5rem;
        width: 129px;
        padding-top: 1rem;
        font-size: 15px;
    }
}


/* || @font-face */


@font-face {
    font-family: 'titre';
    src: url('StardosStencil-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'petitre';
    src: url("LeagueGothic-Regular-VariableFont_wdth.ttf") format("truetype")
}

@font-face {
    font-family: 'navtxt';
    src: url('postnobillscolombo-extrabold.ttf') format("truetype")
}

@font-face {
    font-family: 'base';
    src: url('Manrope-VariableFont_wght.ttf') format("truetype")
}


/* || fade-up */


.fade-up-element {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-up-visible {
    opacity: 1;
    transform: translateY(0);
}