#container-intro {
    margin-top: 5rem;
    width: 100%;
}

#container-intro #img {
    height: auto;
    width: 80%;

}

#container-intro .base-text {
    width: 50%;

}

/*NAV*/
nav {
    width: 100%;
    height: 16rem;
}

nav .play-mute img {
    position: relative;
    height: auto;
}

nav #play img {
    width: 3rem;
    top: 30%;
}

nav #mute img {
    width: 4rem;
    top: 17%;
}

nav .play-mute:hover {
    transition: background-color 0.2s;
    background-color: #929292;
}

nav .play-mute {
    height: 6rem;
    width: 6rem;
    background-color: #D9D9D9;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
}


nav #circle {
    position: absolute;
    top: 0px;
    left: calc(50% - (20rem)/2);
    height: 13.5rem;
    width: 20rem;
    background-color: #151515;
    border-radius: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

nav h1 {
    color: #373737;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.5%;
    text-align: left;
    /* 56px */
    text-transform: uppercase;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 16rem;

}

nav #h1v2 {
    margin-left: 1rem;
    margin-top: 3rem;
    color: #373737;
    font-family: League Gothic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.5%;
    /* 21px */
    text-transform: uppercase;
}

#navimg {
    margin-top: auto;
    margin-bottom: auto;
    height: 80%;
    margin-left: calc(77% - 80px - 13.5rem);
    /* taile de l'element - taile de item - taile de #circle*/

}

#container-nav {
    margin-top: 68px;
    margin-bottom: auto;
    display: flex;
    background-color: #D9D9D9;
    width: 100%;
    height: 5rem;
}

nav ul {
    text-align: center;
}

nav ul li {
    margin-top: 2rem;
    position: relative;
    z-index: 2;
    padding-right: 2rem;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: inline-block;
}

/* SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(97, 97, 97, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #B9B9B9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

/* 
FIN SCROLLBAR
*/


/*UTILE*/
body {
    margin: 0;
    background-color: #151515;
    font-family: League Gothic;
    color: #878787;
    text-align: center;
}

.titre {
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 4rem;
}

.base-text {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    text-align: justify;
}

.none {
    display: none;
}

.item-centerer {
    margin-left: auto;
    margin-right: auto;
}

article {
    margin-top: 15rem;
    margin-bottom: 15rem;
}

/* FIN UTILE*/

/*Fonda*/

#container-fonda-lieu {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}

#texte {
    width: 45%;
    height: auto;
}

#container-fonda-lieu #imgdiv {
    width: 37%;
    height: auto;
}

#container-fonda-lieu img {
    margin-top: 80px;
}


/*
FIN Fonda
*/

/*
interviews
*/
#container-interviews {
    overflow: hidden;
}

#container-interviews .citation {
    width: 40%;
    margin-left: 20%;
}

#container-interviews .auteur-citation {
    width: 40%;
    margin-left: 20%;
    float: right;
    margin-top: 0px;
}


#interviews {
    margin-left: 2rem;
    margin-right: 2rem;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    -webkit-transition: 1s all;
    transition: 1s all;
    gap: 15rem;
}

#right-arrow {
    position: absolute;
    right: 2rem;
}

#left-arrow {
    position: absolute;
    left: 2rem;
}


.slider2 {
    height: auto;
    width: 70%;
    position: relative;
}

.slider_nav2 button {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: scale(1);
    transition-property: "scale()";
    transition-duration: 0.2s;
}

.slider_nav_button_next2 {
    right: -11rem;
}

.slider_nav2 button:hover {
    transform: scale(1.1) !important;
}

.slider_nav2 button:active {
    transform: scale(1) !important;
}

.slider_nav_button_previous2 {
    left: -11rem;
}

.slider_content2 {

    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider_content_item2 {
    height: 100%;
    min-width: 100%;
    margin-right: 35px;
}

.slider_content_item2 img {
    height: 100%;
    width: 100%;
}

/* 
FIn interviews
*/

/*Collec*/
#container-collec .base-text {
    width: 70%;
    height: auto;
}

/*Fin Collec*/

/*Footer*/
footer .base-text {
    text-align: center;
}

/*Fin Footer*/
/*
inter
*/
#container-inte .base-text {
    width: 50%;

}

#container-inte img {
    margin-bottom: 3rem;
}


/*LOADER*/
#loader {
    background: 50% 50% no-repeat rgba(61, 61, 61, 0.8);
    cursor: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}


#loader h1 {
    background: none;
    border: none;
    color: #458976;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    font-variant: small-caps;
    font-weight: 700;
    height: 700px;
    line-height: 700px;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}