#container-intro .base-text {
    width: 50%;
}

/*NAV*/
nav {
    width: 100%;
    height: 16rem;
}

nav .play-mute img {
    position: relative;
    height: auto;
}

nav #play img {
    width: 2rem;
    top: 38%;
}

nav #mute img {
    width: 3rem;
    top: 25%;
}

nav .play-mute:hover {
    transition: background-color 0.2s;
    background-color: #929292;
}

nav .play-mute {

    height: 6rem;
    width: 6rem;
    background-color: #D9D9D9;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
}


nav #circle {
    position: absolute;
    top: 0px;
    left: calc(50% - (20rem)/2);
    height: 13.5rem;
    width: 20rem;
    background-color: #151515;
    border-radius: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

nav h1 {
    color: #373737;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.5%;
    text-align: left;
    /* 56px */
    text-transform: uppercase;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;

}

nav #h1v2 {
    padding-top: 2rem;
    text-align: left;
    width: 180px;
    margin-left: 1rem;
    color: #373737;
    font-family: "the";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.5%;
    text-transform: uppercase;
}



#navimg {
    position: absolute;
    top: 79px;
    right: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 64px;
    height: 59px;

    /* taile de l'element - taile de item - taile de #circle*/

}

nav #container-nav {
    margin-top: 68px;
    margin-bottom: auto;
    display: flex;
    background-color: #D9D9D9;
    width: 100%;
    height: 5rem;
}

nav ul {
    text-align: center;
}

nav ul li {
    font-family: 'the';
    margin-top: 2rem;
    position: relative;
    z-index: 2;
    padding-right: 2rem;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: normal;
    text-transform: uppercase;
    display: inline-block;
}

#fixedNav {}

#fixedNav {
    position: fixed;
    width: 100%;
    height: 16rem;
}

#fixedNav .play-mute img {
    position: relative;
    height: auto;
}

#fixedNav #play img {
    width: 3rem;
    top: 30%;
}

#fixedNav #mute img {
    width: 4rem;
    top: 17%;
}

#fixedNav .play-mute:hover {
    transition: background-color 0.2s;
    background-color: #929292;
}

#fixedNav .play-mute {

    height: 6rem;
    width: 6rem;
    background-color: #D9D9D9;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
}


#fixedNav #circle {
    position: absolute;
    top: 0px;
    left: calc(50% - (20rem)/2);
    height: 13.5rem;
    width: 20rem;
    background-color: #151515;
    border-radius: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

#fixedNav h1 {
    color: #373737;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.5%;
    text-align: left;
    /* 56px */
    text-transform: uppercase;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;

}

#fixedNav #h1v2 {
    padding-top: 2rem;
    text-align: left;
    width: 180px;
    margin-left: 1rem;
    color: #373737;
    font-family: "the";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.5%;
    text-transform: uppercase;
}



#fixedNav #navimg {
    position: absolute;
    top: 79px;
    right: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 64px;
    height: 59px;

    /* taile de l'element - taile de item - taile de #circle*/

}

#fixedNav #container-nav {
    margin-top: 68px;
    margin-bottom: auto;
    display: flex;
    background-color: #D9D9D9;
    width: 100%;
    height: 5rem;
}

#fixedNav ul {
    text-align: center;
}

#fixedNav ul li {
    font-family: 'the';
    margin-top: 2rem;
    position: relative;
    z-index: 2;
    padding-right: 2rem;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: normal;
    text-transform: uppercase;
    display: inline-block;
}

/* SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(97, 97, 97, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #B9B9B9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

/* 
FIN SCROLLBAR
*/

/*UTILE*/
.verti-center {
    margin-top: auto;
    margin-bottom: auto;
}

img {
    height: auto;
    width: 100%;

}

body {
    margin: 0;
    background-color: #151515;
    font-family: 'the';
    color: #878787;
    text-align: center;
}

.titre {
    color: #878787;

    text-align: center;
    font-family: "star";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.base-text {
    color: #878787;

    text-align: justify;

    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.none {
    display: none;
}

.item-centerer {
    margin-left: auto;
    margin-right: auto;
}

article {
    width: 80%;

    margin-bottom: 7%;
}

/* FIN UTILE*/

/*Fonda*/

#container-fonda-lieu {

    text-align: left;
    display: flex;
    justify-content: space-evenly;
}

#texte {
    width: 45%;
    height: auto;
}

#container-fonda-lieu #imgdiv {
    width: 37%;
    height: auto;
}

/*
FIN Fonda
*/

/*
interviews
*/
#container-interviews {
    overflow: hidden;
}

#container-interviews .citation {
    width: 40%;
    margin-left: 20%;
}

#container-interviews .auteur-citation {
    width: 40%;
    margin-left: 20%;
    float: right;
    margin-top: 0px;
}


#interviews {
    margin-left: 2rem;
    margin-right: 2rem;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    -webkit-transition: 1s all;
    transition: 1s all;
    gap: 15rem;
}

#right-arrow {
    position: absolute;
    right: 2rem;
}

#left-arrow {
    position: absolute;
    left: 2rem;
}


.slider2 {
    height: auto;
    width: 70%;
    position: relative;
}

.slider_nav2 button {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: scale(1);
    transition-property: "scale()";
    transition-duration: 0.2s;
}

.slider_nav_button_next2 {
    right: -11rem;
}

.slider_nav2 button:hover {
    transform: scale(1.1) !important;
}

.slider_nav2 button:active {
    transform: scale(1) !important;
}

.slider_nav_button_previous2 {
    left: -11rem;
}

.slider_content2 {

    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider_content_item2 {
    height: 100%;
    min-width: 100%;
    margin-right: 35px;
}


/* 
FIn interviews
*/

/*Collec*/



#container-collec .base-text {
    width: 70%;

}

/*Fin Collec*/

/*Footer*/
footer .base-text {
    text-align: center;
}

/*Fin Footer*/
/*
inter
*/


#container-inte .base-text {
    width: 60%;
}


#container-inte img {
    margin-bottom: 3rem;

}


/*LOADER*/
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:1439px) {



    nav ul li {
        font-size: 21px;
    }
}

@media (max-width:1023px) {
    nav ul li {
        font-size: 16px;
        letter-spacing: 0px;
    }

    nav #h1v2 {
        position: absolute;
        right: 5rem;
        font-style: 15;
        width: 129px;
        padding-top: 1rem;
    }
}

@font-face {
    font-family: 'star';
    src: url('StardosStencil-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'the';
    src: url('LeagueGothic-Regular-VariableFont_wdth.ttf') format("truetype")
}

@font-face {
    font-family: 'post';
    src: url('postnobillscolombo-regular.ttf') format("truetype")
}