.titre {
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.base-text {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    text-align: justify;
}

#container-intro {
    width: 100%;
}

#container-intro #img {
    height: 90%;
    width: 90%;

}

#container-intro .base-text {
    width: 60%;

}

body {
    margin: 0;
    background-color: #151515;
    font-family: League Gothic;
    color: #878787;
    text-align: center;
}

/*NAV*/
nav {
    width: 100%;
    height: 16rem;
}

nav .play-mute:hover {
    transition: background-color 0.2s;
    background-color: #929292;
}

nav .play-mute {
    height: 7rem;
    width: 7rem;
    background-color: #D9D9D9;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

nav .play-mute img {
    width: 6rem;
    height: auto;
    margin-top: 1rem;

}

nav #circle {
    position: absolute;
    top: 0px;
    left: calc(50% - (27rem)/2);
    height: 15rem;
    width: 25rem;
    background-color: #151515;
    border-radius: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

nav h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.5%;
    text-align: left;
    /* 56px */
    text-transform: uppercase;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 16rem;

}

#navimg {
    margin-top: auto;
    margin-bottom: auto;
    height: 6rem;
    position: relative;
    left: calc(100% - 130px - 9rem);
    display: none;
    /*FFFFFFFF*/
}

#container-nav {
    margin-top: 72px;
    margin-bottom: auto;
    display: flex;
    background-color: #D9D9D9;
    width: 100%;
    height: 6rem;
}

nav ul {
    text-align: center;
}

nav ul li {
    margin-top: 2rem;
    position: relative;
    z-index: 2;
    padding-right: 4rem;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: inline-block;
}

/* SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(97, 97, 97, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #B9B9B9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

/* FIN SCROLLBAR*/
/*UTILE*/
.none {
    display: none;
}

.item-centerer {
    margin-left: auto;
    margin-right: auto;
}

/* FIN UTILE*/

/*Fonda*/

#container-fonda-lieu {
    margin-top: 20rem;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}

#texte {
    width: 45%;
    height: auto;
}

#imgdiv {
    width: 37%;
    height: auto;
}

#container-fonda-lieu img {
    width: 100%;
    height: auto;
    margin-top: 80px;
}


/*
FIN Fonda
*/

/*
interviews
*/
#container-interviews {
    overflow: hidden;
}

#container-interviews .citation {
    width: 40%;
    margin-left: 20%;
}

#container-interviews .auteur-citation {
    width: 40%;
    margin-left: 20%;
    float: right;
    margin-top: 0px;
}


#interviews {
    margin-left: 2rem;
    margin-right: 2rem;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    -webkit-transition: 1s all;
    transition: 1s all;
    gap: 15rem;
}

#right-arrow {
    position: absolute;
    right: 2rem;
}

#left-arrow {
    position: absolute;
    left: 2rem;
}

/* 
FIn interviews
*/
.slider2 {
    height: auto;
    width: 70%;
    position: relative;
}

.slider_nav2 button {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: scale(1);
    transition-property: "scale()";
    transition-duration: 0.2s;
}

.slider_nav_button_next2 {
    right: -11rem;
}

.slider_nav2 button:hover {
    transform: scale(1.1) !important;
}

.slider_nav2 button:active {
    transform: scale(1) !important;
}

.slider_nav_button_previous2 {
    left: -11rem;
}

.slider_content2 {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider_content_item2 {
    height: 100%;
    min-width: 100%;
}

.slider_content_item2 img {
    height: 100%;
    width: 100%;
}